.css1{
    color:rgb(0, 252, 193);
}
.cse{
    color:blue;
    background-color: cyan;
}
.it{
    color:wheat;
    background-color: rgb(203, 3, 3);
}
.c1{
    border:5px solid green;
}
.c2{
    background-color: aqua;
}
.box{
    border:5px solid blueviolet;
}