<!-- <h1>Welcome to {{name}}</h1>
<h1>Welcome  {{cse.fname}}</h1>
<h1 [style.color]="csecolor">Welcome to Angular JS</h1>
<h1 [style]="csestyle">Welcome to Style Binding</h1>
<h1 [style.color]="rating<4? 'red':'green'">style binding on condition</h1>
<h1 [style.fontSize]="check?'50px':'10px'">style binding on Boolean:true</h1>
<h1 [style.fontSize]="check1?'50px':'20px'">style binding on Boolean:false</h1>
<h1 [class]="'css1'">Welcome to class binding</h1>
<h1 [class]="cses?'cse':'it'">Example for class binding on condition</h1>
<h1 [class]="cses1?'cse':'it'">Example for class binding on condition</h1>
<h1 [class]="{'c1':c1apply,'c2':c2apply}">Class binding using 2 conditions</h1>
<img [src]="path" alt="No Image" height="500" weight="500" class={{styles}}> -->
<!-- <h1 [style.color]="csecolor">Name: {{ names }}</h1>
<p (click)="rocks()">click here to change</p>
<button (click)="disp()">Click Me</button> -->